page-todos-trackers {

    h3{
       
        padding: 10px;
        padding-block-start: 1px;
        
        
    }




    .progress2 {
        position: relative;
        height: 8px;
        display: block;
        width: 95%;
        background-color: grey;
        border-radius: 52px;
        background-clip: padding-box;
        margin: 1rem 1rem 1rem 1rem;
        overflow: hidden; }
    .progress2 .determinate1 {
        position: absolute;
        background-color: inherit;
        top: 0;
        bottom: 0;
        background-color: green;
        transition: width .3s linear; }
    .progress2 .determinate2 {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #23509c;
    transition: width .3s linear; }
    
    .progress2 .determinate3 {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #2f6acf;
    transition: width .3s linear; }
    .progress2 .determinate4 {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: black;
    transition: width .3s linear; }
    .progress2 .determinate5 {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color:  #dd3838;
    transition: width .3s linear; }
    .progress2 .determinate6 {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;  
    background-color:  #9b2929;
    transition: width .3s linear; }

}
