<!--
  Generated template for the AdicionarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Adicionar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row  class="roww">
      <ion-item>
        <ion-label class="nome" fixed>Remedios: </ion-label>
          <ion-select class="input" ([ngModel])="controle.remedios" interface="popover" multiple =  True>
            <ion-option *ngFor="let rem of remedios">{{rem.title}}</ion-option>
          </ion-select>
      </ion-item>
    </ion-row>

    <ion-row class="roww">
      <ion-item>
        <ion-label class="nome" fixed>Dentes: </ion-label>
        <ion-select  text-righ ([ngModel])="controle.dentes" interface="popover" multiple =  True>
          <ion-option text-righ *ngFor="let den of dentes">{{den.title}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row class="roww">
      <ion-item>
        <ion-label class="nome" fixed>Atividades: </ion-label>
        <ion-select text-righ ([ngModel])="controle.atividades" interface="popover" multiple =  True>
          <ion-option text-righ *ngFor="let ativ of atividades">{{ativ.title}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row class="roww">
      <ion-item>
        <ion-label class="nome" fixed>Passos: </ion-label>
        <ion-input text-right type="number" clearInput="true" value="" [(ngModel)]="controle.passos"></ion-input>
      </ion-item>
    </ion-row>

    
    <ion-row class="roww">
      <ion-item>
        <ion-label class="nome" fixed>Peso: </ion-label>
        <ion-input text-right type="number" clearInput="true" value="" [(ngModel)]="controle.peso"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row class="roww">
      <ion-item no-lines>
        <ion-range no-padding min="0" max="100" step = '5' [(ngModel)]="controle.andando">
          <ion-label range-left class="nome">Andando: </ion-label>
          <ion-label range-right>{{controle.andando}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>

    <ion-row class="roww">
        <ion-item>
          <ion-range no-padding min="0" max="100" step='5' [(ngModel)]="controle.correndo">
            <ion-label class="nome" range-left >Correndo: </ion-label>
            <ion-label range-right>{{controle.correndo}}</ion-label>
          </ion-range>
        </ion-item>
      </ion-row>

   <ion-row  class="roww">
      <ion-item no-lines>
        <ion-range no-padding min="0" max="60"  [(ngModel)]="controle.tempinho">
          <ion-label class="nome" range-left>Tempinho: </ion-label>
          <ion-label range-right>{{controle.tempinho}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>

    <ion-row  class="roww">
      <ion-item>
        <ion-range no-padding min="0" max="10" [(ngModel)]="controle.UHU">
          <ion-label class="nome" range-left>Uhu: </ion-label>
          <ion-label range-right>{{controle.UHU}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>

    <ion-row  class="roww">
      <ion-item no-lines>
        <ion-range no-padding min="0" max="5" [(ngModel)]="controle.cafe">
          <ion-label class="nome" range-left>Cafe: </ion-label>
          <ion-label range-right>{{controle.cafe}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>

    <ion-row  class="roww">
      <ion-item no-lines>
        <ion-range no-padding min="0" max="5" [(ngModel)]="controle.lancheM">
          <ion-label class="nome" range-left>Lanche: </ion-label>
          <ion-label range-right>{{controle.lancheM}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>

    <ion-row  class="roww">
      <ion-item no-lines  >
        <ion-range no-padding min="0" max="5" [(ngModel)]="controle.almoco">
          <ion-label class="nome" range-left>Almoço: </ion-label>
          <ion-label range-right>{{controle.almoco}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>

    <ion-row  class="roww">
      <ion-item no-lines>
        <ion-range no-padding min="0" max="5" [(ngModel)]="controle.lancheT">
          <ion-label class="nome" range-left>Lanche: </ion-label>
          <ion-label range-right>{{controle.lancheT}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>


    <ion-row  class="roww">
      <ion-item>
        <ion-range no-padding min="0" max="5" [(ngModel)]="controle.jantar">
          <ion-label class="nome" range-left>Jantar: </ion-label>
          <ion-label range-right>{{controle.jantar}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>

    <ion-row  class="roww">
      <ion-item no-lines>
        <ion-range no-padding min="0" max="5" [(ngModel)]="controle.doce">
          <ion-label class="nome" range-left>Doce: </ion-label>
          <ion-label range-right>{{controle.doce}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>

    <ion-row  class="roww">
      <ion-item no-lines>
        <ion-range no-padding min="0" max="5" [(ngModel)]="controle.refrigerante">
          <ion-label class="nome" range-left>Refrigerante: </ion-label>
          <ion-label range-right>{{controle.refrigerante}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>

    <ion-row  class="roww">
      <ion-item>
        <ion-range no-padding min="0" max="5" [(ngModel)]="controle.alcool">
          <ion-label class="nome" range-left>Alcool: </ion-label>
          <ion-label range-right>{{controle.alcool}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>

    <ion-row  class="roww">
      <ion-item no-lines>
        <ion-range no-padding min="0" max="12" [(ngModel)]="controle.tempoE">
          <ion-label class="nome" range-left>Estudando: </ion-label>
          <ion-label range-right>{{controle.tempoE}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>

    <ion-row  class="roww">
      <ion-item>
        <ion-range no-padding min="0" max="12" [(ngModel)]="controle.tempoA">
          <ion-label class="nome" range-left>Aulas: </ion-label>
          <ion-label range-right>{{controle.tempoA}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>

    <ion-grid no-padding justify-content-center>
      <ion-row>
      <ion-col col-3 no-paddig>
        <ion-row justify-content-center>
          <ion-item no-lines>
            <ion-label class="nome">Resumo:</ion-label>
          </ion-item>
        </ion-row>
        <ion-row justify-content-center>
          <ion-toggle class="toggle" checked="false"></ion-toggle>
        </ion-row>
      </ion-col>

      <ion-col col-3 no-paddig>
        <ion-row justify-content-center>
          <ion-item no-lines>
            <ion-label class="nome">Barba:</ion-label>
          </ion-item>
        </ion-row>
        <ion-row justify-content-center>
          <ion-toggle class="toggle" checked="false" ></ion-toggle>
        </ion-row>
      </ion-col>
    

      <ion-col col-3 no-paddig>
        <ion-row justify-content-center>
          <ion-item no-lines>
            <ion-label class="nome">Barba:</ion-label>
          </ion-item>
        </ion-row>
        <ion-row justify-content-center>
          <ion-toggle class="toggle" checked="false" ></ion-toggle>
        </ion-row>
      </ion-col>
   </ion-row>
  </ion-grid>


  </ion-grid>
</ion-content>

