page-adicionar {


    .input{
        text-align: right;
        justify-content: right;

    }

    .nome{
        width: 30%;
        color: grey;
        font-size: 13px;

    }

    .roww{
        height: 45px;
    }

    .toggle{
        height: 50px;
    }


}
