<!--
  Generated template for the HojePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hoje</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let h of (controleHoje  | async )">
  <ion-card-header>{{h.dia}}/{{h.mes}}/{{h.ano}}</ion-card-header>
  <ion-item >{{h.total}}</ion-item>
  </ion-card>
  <ion-item *ngFor="let o of (controleOntem | async )">{{ontem.total}}</ion-item>
</ion-content>

