<!--
  Generated template for the HojePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hoje</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let h of (controleHoje  | async )">
  <ion-card-header>Hoje: {{h.dia}}/{{h.mes}}/{{h.ano}}</ion-card-header>

  <ion-grid no-padding>
    <ion-row>
    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Remédios: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>TESTE</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Dentes: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>TESTE</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Atividades: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>TESTE ✔ ✘ </ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Passos: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.passos}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Peso: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.peso}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Andando: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.andando}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Passos: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.passos}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Correndo: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.correndo}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Tempinho: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.tempinho}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Uhu: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.UHU}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Café: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.cafe}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Lanche: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.lancheM}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Almoço: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.almoco}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Lanche: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.lancheT}}</ion-badge>
      </ion-row>
    </ion-col>


    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Jantar: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.jantar}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Doce: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.doce}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Refrigerante: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.refrigerante}}</ion-badge>
      </ion-row>
    </ion-col>
  
  
    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Alcool: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.alcool}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Estudos: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.tempoE}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Aulas: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.tempoA}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Barba: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.barba}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Agradecimento: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.agradecimento}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Meditacao: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.meditacao}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Escrever: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.escrever}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Raser: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.raser}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Leitura: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.leitura}}</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Role: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.tempoA}} -  TESTE</ion-badge>
      </ion-row>
    </ion-col>

    <ion-col col-4 no-paddig>
      <ion-row justify-content-center>
        <ion-item no-lines justify-content-center>
          <ion-label class="nome2">Pessoas: </ion-label>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-badge>{{h.TempoA}} - Teste</ion-badge>
      </ion-row>
    </ion-col>

    </ion-row>
      <ion-item no-lines>
        Remedios: {{h.remedios}}
      </ion-item>
      <ion-item no-lines>
        Atividades: {{h.atividades}}
      </ion-item>
      <ion-item no-lines>
        Role: {{h.role}}
      </ion-item>
      <ion-item no-lines>
        Pessoas: {{h.pessoas}}
      </ion-item>

      <p ion-text>Remedios: {{h.remedios}} <br>
          Atividades: {{h.atividades}} <br>
          Role: {{h.role}} <br>
          Pessoas: {{h.pessoas}} <br> </p>
  </ion-grid>

  </ion-card>
  <ion-item *ngFor="let o of (controleOntem | async )">{{o.total}}</ion-item>
</ion-content>

