page-analise {


    .cabecalho{
        font-size: 11px;
        justify-content: center;
        text-align: center;
        transform: rotate(-45deg); 
        word-wrap: none;
    }

    .dados{
        font-size: 15px;
        justify-content: center;
        text-align: center; 
    }

    .inner{
        width: 200vw;
        height: 100%;
    }

   

}
