<!--
  Generated template for the TimeTrackerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--HEADER----------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tarefas</ion-title>
    <ion-buttons end *ngFor="let f of (ShowTarefas | async) ">
        <button ion-button icon-only color="{{CorIfTrue(f.check)}}" (click)="ChangeCheckTarefas(f)">
          <ion-icon name="list-box"></ion-icon>
          <ion-badge *ngIf="contador[0] > 0" id="notifications-badge" color="danger">{{contador[0]}}</ion-badge>
        </button>
      <button ion-button icon-only (click)="atualiza()">
        <ion-icon name="sync"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToTotal()">
        <ion-icon name="calendar"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!--ADICAO-->
<ion-content>
  <ion-grid>
    <ion-row class="roww">
        <ion-item no-lines>
          <ion-label class="nome" >Tracker: </ion-label>
          <ion-input text-right type="text"  value="" [(ngModel)]="input.title" (keyup.enter)="Criacao(tracker)"></ion-input>
        </ion-item>
     
    </ion-row>

    <ion-row class="roww">
      <ion-col col-11>
        <ion-item no-lines>
            <ion-range  min="-2" max="2"  snaps color="{{Cor(tracker.nivel)}}" [(ngModel)]="tracker.nivel">
              <ion-icon range-left color="{{Cor(tracker.nivel)}}"  small name="close-circle"></ion-icon>
              <ion-icon range-right  color="{{Cor(tracker.nivel)}}"  small name="checkmark-circle"></ion-icon>
            </ion-range>
          </ion-item>
      </ion-col>
      <ion-col col-1 >
        <button ion-button icon-start round clear no-padding (click)="Nivel(3)">
          <ion-icon color="verde" name="clipboard" (click)="Nivel(3)"> </ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

<!--bOTOES ADICAO-------------------------------------------------------------------------------------------------------------------------------------->

  <ion-row justify-content-center >
    <button class="btn2" ion-button outline round small (click)="Amanha(tracker)">Amanhã</button>
    <button class="btn3" ion-button  round small  (click)="Criacao(tracker)">Adicionar</button>
    <button class="btn2" ion-button outline  round small (click)="Ontem(tracker)">Ontem</button>
  </ion-row>
  <div *ngFor="let f of (ShowTarefas | async) ">
    <ion-row justify-content-center *ngIf="f.check == true">
        <button class="btn3" ion-button  clear round small  (click)="CriacaoTarefa(tarefa)">Tarefa</button>
    </ion-row>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)"></ion-refresher>

  <!--ATALHOS-------------------------------------------------------------------------------------------------------------------------------------->
  <div *ngIf = "show == true">
    <ion-grid no-padding>
      <ion-row justify-content-center>
        <ion-col col-3 col-xl-1 *ngFor="let a of (atalhos | async)" justify-content-center>
          <button class="btn4" type="submit" ion-button round small color="{{Cor(a.nivel)}}" (click)=atalho(a)>{{a.title}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-------------------------------------------------------------------TAREFAS-------------------------------------------------------------------->
  <div *ngFor="let f of (ShowTarefas | async) ">
    <ion-card no-padding *ngIf="f.check == true">
      <ion-card-header class="item">Tarefas</ion-card-header>
      <ion-list>
        <div *ngFor ="let f of (tarefas | async)">
          <div *ngIf = "f.check == false">
            <ion-row class="item">
                  <ion-col col-1>
                    <ion-item class ="item" no-padding>
                      <ion-checkbox  [(ngModel)]="f.check" color="dark" checked="f.check" (click) ="AtualizarT(f)" no-padding></ion-checkbox>
                    </ion-item>
                  </ion-col>
                  <ion-col col-10>
                    <ion-item  (click)="goToEditT(f)" >
                      <ion-label >{{f.title}}</ion-label>
                      <ion-note item-end><p>{{f.duracao}}</p></ion-note>
                    </ion-item>
                  </ion-col>
                  <ion-col col-1 no-padding >
                    <button ion-button icon-start full round clear color="dark" (click)="OpcoesT(f)" no-padding>
                      <ion-icon name="more"></ion-icon>
                    </button>
                  </ion-col>
              
            </ion-row>
          </div>
        </div>
        <div *ngFor ="let f of (tarefas | async)">
          <div *ngIf = "f.check != false">
            <ion-row class="item">
              <ion-col col-1>
                <ion-item class ="item" no-padding>
                  <ion-checkbox  [(ngModel)]="f.check" color="dark" checked="f.check" (click) ="AtualizarT(f)" no-padding></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col col-10>
                <ion-item  (click)="goToEditT(f)" >
                  <ion-label >{{f.title}}</ion-label>
                  <ion-note item-end><p>{{f.duracao}}</p></ion-note>
                </ion-item>
              </ion-col>
              <ion-col col-1 no-padding >
                <button ion-button icon-start full round clear color="dark" (click)="OpcoesT(f)" no-padding>
                  <ion-icon name="more"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </div>
        </div> 
        <ion-row>
          <button ion-button clear (click)="VerMais(VerM)">
            {{ValorVerMais(VerM)}}
          </button>
        </ion-row> 
        </ion-list>
    </ion-card>
  </div>
    
<!----------------------------------------------------------------HOJE E ONTEM---------------------------------------------------------------------------------------------->
<ion-grid>
<ion-row>
<ion-col col-12 col-xl-6  *ngFor="let d of dias">   
<ion-card >
    <ion-card-header  class="item">{{d.title}}: 
      <ion-badge> {{Arredonda(Pontua(d.val),2)}} </ion-badge>
    </ion-card-header>
    <ion-list>
      <div *ngFor="let f of (trackers | async) ">
        <ion-row *ngIf='f.total == RetornaDia(d.title) && f.Hinicio == "" && f.Minicio == ""'class="item">
        <ion-col col-1>
          <ion-item class="item" no-padding>
            <ion-checkbox  [(ngModel)]="f.check" color="dark" checked="f.check" (click) ="Atualizar(f)" no-padding></ion-checkbox>    
          </ion-item>
        </ion-col>
          <ion-col col-1>
           <button ion-button icon-start full class="pad" round clear color="{{Cor(f.nivel)}}" (click)="Comecar(f)" no-padding>
              <ion-icon name="{{Icone(f)}}"> </ion-icon>
            </button>
          </ion-col>
            <ion-col col-9>
              <ion-item  (click)="goToEdit(f)" >
                <ion-label >{{f.title}}</ion-label>
                <ion-note item-end><p>{{RetornaH(f.duracao)}}</p></ion-note>
              </ion-item>
            </ion-col>
            <ion-col col-1 >
              <button ion-button icon-start full round clear color="dark" (click)="Opcoes(f)" no-padding>
                <ion-icon name="more"></ion-icon>
              </button>
            </ion-col>
         </ion-row>
      </div>
         
      <div *ngFor="let f of (trackers | async) ">
      <ion-row *ngIf='f.total == RetornaDia(d.title) && f.Minicio != ""'class="item">
        <ion-col col-1>
          <ion-item class="item" no-padding>
            <ion-checkbox  [(ngModel)]="f.check" color="dark" checked="f.check" (click) ="Atualizar(f)" no-padding></ion-checkbox>    
          </ion-item>
        </ion-col>
          <ion-col col-1>
           <button ion-button icon-start full class="pad" round clear color="{{Cor(f.nivel)}}" (click)="Comecar(f)" no-padding>
              <ion-icon name="{{Icone(f)}}"> </ion-icon>
            </button>
          </ion-col>
            <ion-col col-9>
              <ion-item  (click)="goToEdit(f)" >
                <ion-label >{{f.title}}</ion-label>
                <p class="corEnd" item-end>{{RetornaH(Atual(f))}}</p>
                <ion-note item-end><p>{{RetornaH(f.duracao)}}</p></ion-note>
              </ion-item>
            </ion-col>
            <ion-col col-1 >
              <button ion-button icon-start full round clear color="dark" (click)="Opcoes(f)" no-padding>
                <ion-icon name="more"></ion-icon>
              </button>
            </ion-col>
         </ion-row>
      </div>
    </ion-list>
    

    <div id="container">
    <h2 padding  *ngIf="d.title == 'Hoje' || d.title =='Ontem' " (click)="AtualizaGraf()" >Progresso:</h2>
    <div class="progress" *ngIf="d.title == 'Hoje'" (click)=teste(totalM)>
        <div class="determinate7" style="width: 0%" id="testeH" ></div>
      <div class="determinate1" style="width: 0%" id="teste6" ></div>
      <div class="determinate2" style="width: 0%" id="teste5" ></div>
      <div class="determinate3" style="width: 0%" id="teste4" ></div>
      <div class="determinate4" style="width: 0%" id="teste3" ></div>
      <div class="determinate5" style="width: testao" id="teste2" ></div>
      <div class="determinate6" style="width: 0%" id="teste1" ></div>
      
    </div>

    <div class="progress2" *ngIf="d.title == 'Ontem'" (click)=teste(totalM)>
      <div class="determinate1" style="width: 0%" id="teste12" ></div>
      <div class="determinate2" style="width: 0%" id="teste11" ></div>
      <div class="determinate3" style="width: 0%" id="teste10" ></div>
      <div class="determinate4" style="width: 0%" id="teste9" ></div>
      <div class="determinate5" style="width: 0%" id="teste8" ></div>
      <div class="determinate6" style="width: 0%" id="teste7" ></div>
    </div>
    
    <div class="alinharB" *ngIf="d.title == 'Hoje'">
      <ion-row> 
        <ion-col col-7>
          <h3 padding>Tarefas Cotidianas:
            <br>Dormir    - {{RetornaH(Arredonda(Indicadores[0]))}}
            <br>Banho     - {{RetornaH(Arredonda(Indicadores[1]))}}
            <br>Ler       - {{RetornaH(Arredonda(Indicadores[2]))}}
            <br>Programar - {{RetornaH(Arredonda(Indicadores[3]))}}
            <br>Estudar    -  {{RetornaH(Arredonda(Indicadores[10]))}}
            <br>Fraces    -  {{RetornaH(Arredonda(Indicadores[4]))}}
          </h3>
        </ion-col>
        <ion-col col-4>
          <h3>
            <br>
            <br>Ingles    -  {{RetornaH(Arredonda(Indicadores[5]))}}
            <br>Aulas     - {{RetornaH(Arredonda(Indicadores[6]))}}
            <br>Relaxar   - {{RetornaH(Arredonda(Indicadores[7]))}}
            <br>Tempinho  - {{RetornaH(Arredonda(Indicadores[8]))}}
            <br>Dani      - {{RetornaH(Arredonda(Indicadores[9]))}}
          </h3>
        </ion-col>
      </ion-row>
    </div>


    <div *ngIf="d.title == 'Ontem'">
      <ion-row>
        <ion-col col-7>
          <h3 class="h3">Tarefas Cotidianas:
            <br>Dormir    - {{RetornaH(Arredonda(IndicadoresO[0]))}}
            <br>Banho     - {{RetornaH(Arredonda(IndicadoresO[1]))}}
            <br>Ler       - {{RetornaH(Arredonda(IndicadoresO[2]))}}
            <br>Programar - {{RetornaH(Arredonda(IndicadoresO[3]))}}
            <br>Estudar    -  {{RetornaH(Arredonda(IndicadoresO[10]))}}
            <br>Fraces    -  {{RetornaH(Arredonda(IndicadoresO[4]))}}
          </h3>
        </ion-col>
        <ion-col col-4>
          <h3>
            <br>
            <br>Ingles    -  {{RetornaH(Arredonda(IndicadoresO[5]))}}
            <br>Aulas     - {{RetornaH(Arredonda(IndicadoresO[6]))}}
            <br>Relaxar   - {{RetornaH(Arredonda(IndicadoresO[7]))}}
            <br>Tempinho  - {{RetornaH(Arredonda(IndicadoresO[8]))}}
            <br>Dani      - {{RetornaH(Arredonda(IndicadoresO[9]))}}
          </h3>
        </ion-col>
      </ion-row>
    </div>
    </div>
  </ion-card>
 </ion-col>
 </ion-row>
 </ion-grid>

</ion-content>
