page-time-tracker {

    .input{
        text-align: right;
        justify-content: right;

    }

    .nome{
        width: 30%;
        color: grey;
        font-size: 13px;

    }

    

    .nome2{
        width: 30%;
        color: grey;
        font-size: 13px;
        text-align: center;

    }

    .roww{
        height: 45px;
    }
    
    .roww2{
    min-height: 5px;
    }

    .toggle{
        zoom: 0.8;
    }

    .caixa{
        zoom: 0.8;
        height: 200px;
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    }

    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }

    .btn2 {
        display:block;
        height: 40px;
        width: 70px;
        border: 1.5px solid;
        font-size: 11px;
        margin: 10px;
        margin-top: 15px;
    }
    
    .btn3 {
        display:block;
        height: 50px;
        width: 80px;
        border: 1.5px solid;
        font-size: 11px;
        margin: 10px;
    }



    .item{
        max-height: 3em;
    }

    .pad{
        padding: 20px;
    }

    .btn4 {
        display:block;
        height: 30px;
        width: 80px;
        border: 1.0px solid;
        font-size: 8px;
        
    }


   














    .progress {
        position: relative;
        height: 8px;
        display: block;
        width: 95%;
        background-color: grey;
        border-radius: 52px;
        background-clip: padding-box;
        margin: 1rem 1rem 1rem 1rem;
        overflow: hidden; }
        .progress .determinate1 {
          position: absolute;
          background-color: inherit;
          top: 0;
          bottom: 0;
          background-color: green;
          transition: width .3s linear; }
        .progress .determinate2 {
        position: absolute;
        background-color: inherit;
        top: 0;
        bottom: 0;
        background-color: #23509c;
        transition: width .3s linear; }
        
        .progress .determinate3 {
        position: absolute;
        background-color: inherit;
        top: 0;
        bottom: 0;
        background-color: #2f6acf;
        transition: width .3s linear; }
        .progress .determinate4 {
        position: absolute;
        background-color: inherit;
        top: 0;
        bottom: 0;
        background-color: black;
        transition: width .3s linear; }
        .progress .determinate5 {
        position: absolute;
        background-color: inherit;
        top: 0;
        bottom: 0;
        background-color:  #dd3838;
        transition: width .3s linear; }
        .progress .determinate6 {
        position: absolute;
        background-color: inherit;
        top: 0;
        bottom: 0;  
        background-color:  #9b2929;
        transition: width .3s linear; }


    .progress2 {
        position: relative;
        height: 8px;
        display: block;
        width: 95%;
        background-color: grey;
        border-radius: 52px;
        background-clip: padding-box;
        margin: 1rem 1rem 1rem 1rem;
        overflow: hidden; }
    .progress2 .determinate1 {
        position: absolute;
        background-color: inherit;
        top: 0;
        bottom: 0;
        background-color: green;
        transition: width .3s linear; }
    .progress2 .determinate2 {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #23509c;
    transition: width .3s linear; }
    
    .progress2 .determinate3 {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #2f6acf;
    transition: width .3s linear; }
    .progress2 .determinate4 {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: black;
    transition: width .3s linear; }
    .progress2 .determinate5 {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color:  #dd3838;
    transition: width .3s linear; }
    .progress2 .determinate6 {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;  
    background-color:  #9b2929;
    transition: width .3s linear; }
            
        
        
      

}
