page-cards {

       // SCSS Adicionar //

       .input{
        text-align: right;
        justify-content: right;

    }

    p{
        font-family: 'Open sans';
        font-size: 10px;
    }

    .nome{
        width: 30%;
        color: grey;
        font-size: 13px;

    }
    .centralizado{
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .nome2{
        width: 30%;
        color: grey;
        font-size: 13px;
        text-align: center;

    }

    .roww{
        height: 45px;
    }
    
    .roww2{
    min-height: 5px;
    }

    .toggle{
        zoom: 0.8;
    }

    .caixa{
        zoom: 0.8;
        height: 200px;
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    }

    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }

    .btn {
        display:block;
        height: 85px;
        width: 85px;
        border-radius: 50%;
        border: 1.5px solid;
        font-size: 11px;
    }

    //--------------------------------------------------------------------//

    .col2{
        border: 0.5px solid gray;
        }

    



}
